@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to UPRM Interactive Map</h1>
    <img src="~/images/uprm-map.png" />
</div>
