@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="Desktop1"
    style="width: 1440px; height: 1024px; position: relative; background: #4D7E3E align-items: center;">
    <div class="WelcomeTo"
        style="width: 720px; height: 139px; left: 360px; top: 149px; position: absolute; text-align: center; color: white; font-size: 96px; font-family: Inter; font-weight: 700; word-wrap: break-word">
        Welcome to</div>
    <div class="About"
        style="width: 1211px; height: 106px; left: 114px; top: 906px; position: absolute; text-align: justify; color: white; font-size: 16px; font-family: Inter; font-weight: 400; word-wrap: break-word">
        At our core, our mission is to empower new students in their educational journey by providing them with a
        seamless and intuitive means to navigate the university campus. We are dedicated to enhancing the collegiate
        experience, ensuring that every student, regardless of their background or familiarity with the campus, feels
        confident and at ease while exploring their academic surroundings. By simplifying campus navigation, we aspire
        to foster a sense of belonging, reduce stress, and ultimately contribute to the academic success and personal
        growth of each student who embarks on this exciting new chapter of their lives.</div>
    <img class="LogoRemovebgPreview1" style="width: 931px; height: 151px; left: 255px; top: 288px; position: absolute"
        alt="App Logo Here" src="https://i.ibb.co/L0MFN1v/Logo-removebg-preview.png" />

    <div class="Signinbtn" style="width: 237px; height: 69px; left: 392px; top: 512px; position: absolute">
        <div class="Rectangle1"
            style="width: 237px; height: 69px; left: 0px; top: 0px; position: absolute; background: white; border: 1px black solid">
        </div>
        <div class="SignIn"
            style="width: 234px; height: 60px; left: 0px; top: 9px; position: absolute; text-align: center; color: black; font-size: 36px; font-family: Inter; font-weight: 500; word-wrap: break-word">
            <a class="sign-in text-dark" asp-area="" asp-page="/sign-in">Sign In</a>
        </div>
    </div>
    <div class="Signupbtn" style="width: 237px; height: 69px; left: 824px; top: 512px; position: absolute">
        <div class="Rectangle2"
            style="width: 237px; height: 69px; left: 0px; top: 0px; position: absolute; background: white; border: 1px black solid">
        </div>
        <div class="SignUp"
            style="width: 234px; height: 60px; left: 2px; top: 9px; position: absolute; text-align: center; color: black; font-size: 36px; font-family: Inter; font-weight: 500; word-wrap: break-word">
            <a class="sign-up text-dark" asp-area="" asp-page="/sign-up">Sign Up</a>
        </div>
    </div>


</div>
