@page
@model SignUpModel
@{
    ViewData["Title"] = "Sign Up Page";
}
<h1>@ViewData["Title"]</h1>

<p>sign up.</p>

<div class="SignIn"
    style="width: 234px; height: 60px; left: 0px; top: 9px; position: absolute; text-align: center; color: black; font-size: 36px; font-family: Inter; font-weight: 500; word-wrap: break-word">
    <br><br>
    <a class="MapView text-dark" asp-area="" asp-page="/MapView">Map View</a>
</div>