<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - homepage</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/homepage.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <style>
                .navbar {
                    background-color: #4d7e3e !important;
                }

                .sidenav {
                    height: 88%;
                    width: 160px;
                    position: fixed;
                    z-index: 1;
                    top: 0;
                    left: 0;
                    background-color: #4d7e3e;
                    overflow-x: hidden;
                    padding-top: 20px;
                }

                    .sidenav a {
                        padding: 6px 8px 6px 16px;
                        text-decoration: none;
                        font-size: 20px;
                        color: #000000;
                        display: block;
                    }

                        .sidenav a:hover {
                            color: #f1f1f1;
                        }

                .main {
                    margin-left: 160px;
                    font-size: 28px;
                    padding: 0px 10px;
                }

                media screen and (max-height: 450px) {
                    .sidenav

                {
                    padding-top: 15px;
                }

                .sidenav a {
                    font-size: 12px;
                }

                }
            </style>
            <div class="container">
                <a href="@Url.Action("Index", "Home")" class="navbar-brand">
                    <img src="~/images/Logo.png" width="230" height="50" />
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse collapse d-sm-inline-flex justify-left">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            @* Placeholder page link *@
                            <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">User</a>
                        </li>
                    </ul>
                </div>
                <div>
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            @using (Html.BeginForm("Index", "Search", FormMethod.Get))
                            {
                                <ul class="nav navbar-nav">
                                    <li>@Html.TextBox("id", ViewBag.CurrentFilter as string)</li>
                                    <li><input type="submit" value="Search" /></li>
                                </ul>
                            }
                        </li>
                        <li class="nav-item">
                            @* Placeholder page link *@
                            <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - homepage - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)


    <div class="sidenav">
        <br>
        <br>
        <a href="#building">Building</a>
        <br>
        <a href="#Schedule">Schedule</a>
    </div>

</body>
</html>